html {
	margin: 0;
	padding: 0;
}

body {
	color: #444;
	font: 12px/20px Arial, sans-serif;
	height: auto;
	margin: 10px;
	overflow: hidden;
	width: 480px;
	-webkit-user-select: none;
}

label {
	display: inline-block;
	padding: 5px 0;
}

.words {
	width: 180px;
}

.paragraphs {
	width: 130px;
}

.ptags {
	width: 160px;
}

#paragraphs, #words {
	border: none;
	border-bottom: 1px dotted #aaa;
	color: #444;
	outline: none;
	padding: 2px;
	text-align: center;
	width: 30px;
}

#copy {
	background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	border: 1px solid #aaa;
	color: #444;
	margin-bottom: 0;
	padding: 3px 12px 3px 12px;
	width: 480px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#copy:hover {
	background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
	border-color: #999;
	color: #222;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

#copy:active {
	background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
	color: #333;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

#copy[disabled] {
	background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	border-color: #aaa;
	color: #888;
	-webkit-box-shadow: none;
}

#ptags {
	background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	bottom: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	color: #444;
	height: 13px;
	margin: 0 1px 0 0;
	position: relative;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	vertical-align: middle;
	width: 13px;
	-webkit-appearance: none;
}

#ptags:checked::before {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDBhYcG79aGIsAAACbSURBVBjTjdFBCkFhFAXgj4fp24PBy0SZ2ICRXRgYGb2xlKzBSEo2YgsiKWVoZgFKMjD5X/2Ux6lb99bpnNO5lKMR5i8MsEQHkhJiEzlS9HCqfiFWMUIt3AfsC3KKLCL30Qr7HfM4Ro4h6rhiEqmusIMKuphGqo+ogSPGcbYLzh91vdkXSHDDBk+0gxussS3rNcMCs+D6E18/9gLPPhbDshfzLgAAAABJRU5ErkJggg==");
	background-size: 100% 100%;
	content: '';
	display: block;
	height: 100%;
	width: 100%;
}

#ptags:hover, {
	background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
	border-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
	color: #000;
}

#lipsum {
	background: #fafafa;
	border: none;
	color: #444;
	height: 300px;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	resize: none;
	width: 460px;
	-webkit-border-radius: 5px;
}
